{
  "ios": {
    "provisioningProfilePath": "credentials/ios/mfk-ios.mobileprovision",
    "distributionCertificate": {
      "path": "credentials/ios/distribution.p12",
      "password": "REPLACE_WITH_YOUR_P12_PASSWORD"
    }
  }
}
